.LatestArticles {
  background: #e8c7ffa2;
}
.LatestArticles h2 {
  margin: 1rem;
}
.LatestArticles .card-title{
  font-weight: 600;
  color: var(--secondary);
  margin: 1.5rem 0;
}
.LatestArticles .card-desc{
  font-weight: 300;
  text-transform: lowercase;
}
.LatestArticles .publishedAt{
  font-size: 0.90rem;
  font-weight: 500;
  color: var(--secondary);
}
.LatestArticles .Articlebtn{
  background: #d2a3f1c9;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--secondary);
}
.LatestArticles .Articlebtn:hover{
  background: var(--secondary);
  color: var(--primary);
}
.LatestArticles .vie{
  letter-spacing: 1px;
  margin-left: 4px;
  margin-top: -2px;
}