.purpleColor{
  color: var(--secondary);
  text-transform: lowercase;
}

.Hero .badge{
  color: var(--secondary);
  background: #c780fa4b;
  border-radius: none;
}
.Hero .subtitle{
  font-weight: 300;
  width: 70%;
}
.Hero h1{
  font-weight: 700;
  line-height: 160%;
}