.dealcontainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sb{
    color: #bc76e8 !important;  
}