.ECard .card {
  
  border-radius: 10px !important;
  position: relative;
  border: solid 0.3px rgba(194, 194, 194, 0.822) ;
  padding: 1.5rem;
  
}
.ECard .topBadge {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #eeee22;
  padding: 0.2rem 2rem;
  border-radius: 13px;
  font-weight: 700;
  text-transform: capitalize;
  
  color: #535301;
}
.ECard .card .btn{
  background: var(--secondary);
  text-transform: capitalize;
  font-size: 1.05rem;
  font-weight: 600;

}

.boxtitle{
  display: inline-block ;
  background: #d7a8f8bb;
  padding: 1rem 2rem;
  border-radius: 35px;
  color: var(--secondary);
}

a{
  text-decoration: none;
}

.card-scroll{
  display: flex;
  margin: 0 calc(-1 * (100vw - 100%) / 2) 0 calc(-1 * 30);
  padding: 15px 30px 12px 20px;

 

}


.best-product{
  overflow-x: scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  display: flex;
  column-gap: 30px;
  padding: 20px 0 50px 50px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  word-wrap: break-word;
  /* display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; */
  
}
