@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 170%;
}




:root{
  --primary: white;
  --secondary: #7E57C2;
  
}
.bg-purple{
  background: var(--secondary);
}